body {
  font-family: 'Roboto', sans-serif;
  background-color: #2C2F33;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 1200px;
  background: #36393F;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #7289DA;
  text-align: center;
}



.quickchat-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.quickchat-column {
  width: 25%;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quickchat-column.selected-column {
  animation: glow 0.5s ease-in-out, pop 0.5s ease-in-out;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #7289da;
  }
  100% {
    box-shadow: 0 0 20px #7289da;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.quickchat {
  display: flex;
  margin-bottom: 10px;
}

.quickchat.selected-item {
  animation: glow 0.5s ease-in-out, pop 0.5s ease-in-out;
}

.quickchat input {
  padding: 8px;
  border: 1px solid #42454A;
  border-radius: 4px;
  background-color: #40444B;
  color: #FFFFFF;
  transition: border-color 0.2s, box-shadow 0.2s, width 0.3s, height 0.3s;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.quickchat input:focus {
  border-color: #7289DA;
  box-shadow: 0 0 8px rgba(114, 137, 218, 0.5);
  outline: none;
  height: auto;
  white-space: normal;
}

.dpad-icon {
  display: block;
  margin: 0 auto 10px;
  width: 50px;
  height: 50px;
}

.dpad-icon-small {
  display: block;
  margin: 0 auto 3px;
  width: 28px;
  height: 28px;
}

button {
  background-color: #7289DA;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #5b6eae;
}

button:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(114, 137, 218, 0.5);
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  background-color: #2C2F33;
}

::-webkit-scrollbar-thumb {
  background-color: #7289DA;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5b6eae;
}

.container:hover ::-webkit-scrollbar-thumb,
.container:focus ::-webkit-scrollbar-thumb,
.container:active ::-webkit-scrollbar-thumb {
  opacity: 1;
}

/* Modal styling */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  color: #fff;
  background-color: #2C2F33 !important;
  border: none;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.ReactModal__Content--after-open {
  color: #fff;
  background-color: #2C2F33 !important;
  border: none !important;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.controller-item {
  background-color: #23272a;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.label-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  background-color: #FF5252;
  margin: 10px auto;
}

.controller-summary {
  padding: 10px;
}

.settings {
  background-color: #2C2F33;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  flex-flow: column;
}

.speed-input {
  width: 46px;
  padding: 8px;
  border: 1px solid #42454A;
  border-radius: 4px;
  background-color: #40444B;
  color: #FFFFFF;
  transition: border-color 0.2s, box-shadow 0.2s;
  text-align: center;
}

.controller-summary:hover {
  background-color: #7289da;
}

.controller-details {
  padding: 10px;
  font-size: 14px;
  border-top: 1px solid #7289da;
}
/* Modal styles */
.input-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #101010 !important;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90%;
  color: #FFFFFF;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.input-modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.input-modal h2 {
  margin-bottom: 10px;
}

.input-modal textarea {
  background-color: #40444B;
  color: #FFFFFF;
  border: 1px solid #42454A;
  border-radius: 4px;
  padding: 8px;
  width: 96%;
}


.input-modal button {
  background-color: #7289DA;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
  margin-top: 10px;
}

.input-modal button:hover {
  background-color: #5b6eae;
}

.input-modal button:first-of-type {
  margin-right: 10px;
}

/* Add these styles to your existing CSS */
/* Add these styles to your existing CSS */



